nav{
  padding: 0.75em 2em;
  display: flex;
  background-color: oldlace;
  margin-bottom: 0px;

}

main{
  padding:2em;
}

.nav--logo{
  width: 50px;
  
}

.nav--title{
  padding-left: 1.2em;
  font-size: Me;
}

.form{
  display: grid;
  gap : 1.1em;
  grid-template: 40px 40px / 1fr 1fr;
}

.form--input{
  border-radius: 5px;
  text-indent: 10px;
}

.form--button{
  grid-column: 1/-1;
  border-radius:5px;
  background-color: antiquewhite;
  cursor: pointer;

}
.meme{
  position: relative;
}

.meme--image{
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}