nav{
  padding: 0.75em 2em;
  display: flex;
  background-color: oldlace;
  margin-bottom: 0px;

}

main{
  padding:2em;
}

.nav--logo{
  width: 50px;
  
}

.nav--title{
  padding-left: 1.2em;
  font-size: Me;
}

.form{
  display: grid;
  gap : 1.1em;
  grid-template: 40px 40px / 1fr 1fr;
}

.form--input{
  border-radius: 5px;
  text-indent: 10px;
}

.form--button{
  grid-column: 1/-1;
  border-radius:5px;
  background-color: antiquewhite;
  cursor: pointer;

}

.meme--image{
  max-width: 100%;
}